<footer class="footer">
  <div class="fixed-bottom">
    <span class="text-muted">
      <div class="container">
        <div class="row align-items-center">
          <div class="col m-0 p-0 text-right align-self-center text-center">
            <p class="d-inline title-name"></p>
          </div>
          <div class="col m-0 p-0 text-right align-self-center">
            <a href="/users/logout" role="button"><i class="d-inline fas fa-sign-out-alt ml-4 icon"></i></a>
          </div>
        </div>
      </div>
    </span>
  </div>
</footer>