<body onload="updateTitle()">

  <nav class="navbar navbar-light bg-light">
    <a class="nav-item nav-link" href="/users/dashboard">
      <span id="header-backBtn" class="navbar-text">
        <i id="header-backBtn" class="fas fa-chevron-left back-icon"></i> back
      </span>
    </a>
    <div id="url-div" class="nav-item nav-link">

    </div>
    <a class="nav-item nav-link" href="/users/logout">Logout</a>
  </nav>