</head>
<body>
<nav class="fixed-top sticky-top navbar navbar-light bg-light">
  <a class="nav-item nav-link" href="/dashboard">
    <span id="header-backBtn" class="navbar-text">
      <i id="header-backBtn" class="fas fa-chevron-left back-icon"></i> home
    </span>
  </a>
  <div id="url-div" class="nav-item nav-link">

  </div>
  <div class="d-flex justify-content-end">
    <a class="nav-item nav-link" href="/logout">Logout</a>
  </div>

</nav>
