<div class="btn-container">
  <a href="/blog">
    <button class="btn"><span class="btn-text"><i class="fab fa-blogger main-icon"></i>Blog</span></button>
  </a>
    
  <a href="/friends">
    <button class="btn"><span class="btn-text"><i class="fas fa-user-friends main-icon"></i>Friends</span></button>
  </a>
    
  <a href="/todo">
    <button class="btn"><span class="btn-text"><i class="fas fa-list-alt main-icon"></i>Todo</span></button>
  </a>
    
  <a href="/media">
    <button class="btn"><span class="btn-text"><i class="fas fa-images main-icon"></i>Media</span></button>
  </a>

  <a href="/profile">
    <button class="btn"><span class="btn-text"><i class="fas fa-gamepad main-icon"></i>Profile</span></button>
  </a>

  <a href="/youtube">
    <button class="btn"><span class="btn-text"><i class="fab fa-youtube main-icon"></i>Youtube</span></button>
  </a>

  <a href="/exercises">
    <button class="btn"><span class="btn-text"><i class="fab fa-youtube main-icon"></i>Code Exercises</span></button>
  </a>
  
  <a href="">
    <button class="btn-extra"><span class="btn-text"><i class=""></i></span></button>
  </a>

</div>

    


