<%- include ("partials/header") %>

<a href="/users/dashboard/isValidPassword.ejs" class="custom-card">
  <div class="card flex-row flex-wrap link-card m-3">
    <div class="card-header border-0">
      <img src="//placehold.it/50" alt="">
    </div>
    <div class="card-block px-2">
      <h6 class="card-title">Title</h6>
      <p class="card-text">Description</p>
    </div>
  </div>
</a>

<%- include ("partials/footer") %>