<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Document</title>
</head>

<body>


  <header class="hero">
    <div class="container spacing">
      <h1 class="primary-title">
        Keith Macdonald .Dev
      </h1>
      <p>Create an account or login</p>
      <a href="/login" class="btn btn-secondary btn-block">Login</a>
      <a href=" /register" class="btn btn-primary btn-block mb-2">Register</a>
    </div>

  </header>

  <main>

    <section class="featured">
      <div class="container">
        <h2 class="section-title">Featured Projects</h2>
        <div class="split">
          <a href="#" class="featured__item">
            <img src="https://via.placeholder.com/125?text=SECRET" alt="" class="img-main featured__img">
            <p class="featured__details"><span class="price">$Login </span>to view!</p>
          </a>
          <a href="#" class="featured__item">
            <img src="https://via.placeholder.com/126?text=SECRET" alt="" class="img-main featured__img">
            <p class="featured__details"><span class="price">$Login </span>to view!</p>
          </a>
          <a href="#" class="featured__item">
            <img src="https://via.placeholder.com/125?text=SECRET" alt="" class="img-main featured__img">
            <p class="featured__details"><span class="price">$Login </span>to view!</p>
          </a>
        </div>
      </div>
    </section>

    <section class="our-products">
      <div class="container">
        <h2 class="section-title">Other Projects</h2>

        <article class="product box-one spacing">
          <img src="https://via.placeholder.com/200?text=SECRET" alt="" class="img-main product__image">
          <h3 class="product__title">A really nice project</h3>
          <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
            perspiciatis facilis beatae laudantium quidem enim sit sequi!</p>
          <a href="" class="btn">View</a>
        </article>

        <article class="product box-two shoe-left spacing">
          <img src="https://via.placeholder.com/200?text=SECRET" alt="" class="img-main product__image">
          <h3 class="product__title">Another nice project</h3>
          <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
            perspiciatis facilis beatae laudantium quidem enim sit sequi!</p>
          <a href="" class="btn">View</a>
        </article>

        <article class="product box-three spacing">
          <img src="https://via.placeholder.com/200?text=SECRET" alt="" class="img-main product__image">
          <h3 class="product__title">Last nice project</h3>
          <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
            perspiciatis facilis beatae laudantium quidem enim sit sequi!</p>
          <a href="" class="btn">View</a>
        </article>

      </div>
    </section>

  </main>

</body>

</html>