<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <div class="justify-content-around row">


        <div class="d-flex WelcomeImages col-3 p-0 justify-content-center align-items-center">
          <div>

            <i class="col-12 WelcomeIcon fab fa-node-js"></i>
            <label class="col-12 WelcomeText" for="">NodeJS</label>

          </div>
        </div>


        <div class="d-flex WelcomeImages col-3 p-0 justify-content-center align-items-center">

          <div class="">

            <div class="ImgWrapper center">

              <img src="/media/mongodb-atlas-cluster@4x.png" class="WelcomeImage" alt="">

            </div>

            <div>

              <label class="col-12 WelcomeText" for="">MongoDb</label>

            </div>

          </div>

        </div>


        <div class="d-flex WelcomeImages col-3 p-0 justify-content-center align-items-center">

          <div class="m-0 p-0">

            <div class="ImgWrapper center">

              <img src="/media/express.png" class="WelcomeImage" alt="">

            </div>

            <div>

              <label class="WelcomeText" for="">ExpressJS</label>

            </div>

          </div>

        </div>

        <p>Create an account or hi login</p>
        <a href=" /users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  <div class="WelcomeImages"></div>