
:root {
  --border-radius: 10px;
}

.navbar {
  margin-bottom: 20px;
}

button {
  margin: 20px;
  padding: 10px;
  background: #e2e9f4;
  border-radius: var(--border-radius);
  border: none;
}

button:hover {
  background: #afc6ec;
  border: none;
  
}

.Card {
  margin-bottom: 15px;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, #c4d6e7b3, rgba(255, 255, 255, 0.8));
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  width: 100%;
}

.CardInner {
  background: #d3def0;
  border-radius: var(--border-radius);
  padding: 10px;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;

}



.InputContainer {
  width: 100%;
}

input {
  background: #e3edf7;
  min-height: 46px;
  border: none;
  display: block;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}

textarea {
  background: #e3edf7;
  min-height: 46px;
  border: none;
  display: block;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}

textarea:placeholder {
  color: #6d7f8f;
}

textarea:focus {
  outline: none;
  color: #6d7f8f;
  background: #ffffff
}

input:placeholder {
  color: #6d7f8f
}


input:focus {
  outline: none;
  color: #6d7f8f;
  background: #ffffff
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2pc 4px rgba(255, 255, 255, 0.7);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}



.Sidebar {
  width: 100%;
}
.img-thumbnail {
  width: 100px;
  height: auto;
  border: none;
  margin: 0;
  padding: 0;
}

.card-text-body {
  font-size: .7em;
  
}

.blog-container {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10vh, max-content);
  width: 100%;
  margin-left: 0;
  height: 100%;
  /* background: silver; */
  /* box-shadow: 0 0 10px; */
  justify-items: center;
  justify-self: center; 
}
  
.all-posts {
  display: grid;
  justify-content: center;
  width: 100%;

}
  .single-blog-post {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto max-content;
    width: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vh;
    margin: 1vw;
    justify-self: center;
  }

  .border-bottom {
    margin: 0;
    padding: 0;
    height: 0;
    border-bottom: 2px solid black;
    width: 70%;
    justify-self: center;
  }


  .hide {
    visibility: hidden;
  }

  .img-container {
    width: 75px;
    height: 75px;
    align-self: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid grey;
    margin: 1vw;
    
  }

.img-user {
height: 100%;
width: 100%;
}
.createPostDiv {
  margin-bottom: 20px;
}
.createPostBtn {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 5px;
  font-size: 100%;
  border: 1px solid #ffffff51;
  border-radius: 5px;
  background: #557A95;
  color: white;


}

.createPostBtn:hover {
  background: white;
  color: #557A95;
  border: 1px solid #557A95;

}

  .blog-grid-body {
    display: grid;
    grid-template-rows: max-content auto;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;

  }
  .card-title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 3vw;
    width: 90%
  }

  .card-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 2vw;
    text-align: left;
    width: 90%

  }
  
  .post-date {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.5vw;

  }
