/* body {
  /*  font-family: Roboto;
    background: #FC466B;   fallback for old browsers */
   /* background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);   Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/ 


.h1-todo {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.ul-todo {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-todo {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

.li-todo:hover span {
    width: 40px;
    opacity: 1.0;
}

.li-todo:nth-child(2n) {
    background: #f7f7f7;
}

.span-todo {
    background: #E74C3C;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

#container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: rgb(128, 128, 128);
    text-decoration: line-through;
}

.input-todo {
    font-size: 18px;
    color: #2980b9;
    width: 100%;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.input-todo:focus {
    background: white;
    border: 3px solid #2980b9;
    outline: none;
}

.fa-plus {
    float: right;
}

