<link rel="stylesheet" href="/css/blog_styles.css">
<%- include ('../partials/header') %>

<div class="container">

  <button class="">
    <a href="/users/blog">
      <i id="" class="fas fa-chevron-left"></i>
      <span class="ml-2"> BLOG</span>
    </a>
  </button>


  <!-- Create Blog Post -->
  <form action="/users/blog-new" method="POST">
    <!-- Title -->
    <div class="center Card">
      <div class="CardInner">
        <div class="Icon">
          <label for="title">Title</label>
        </div>
        <div class="InputContainer">
          <input type="title" name="title" class="form-control" id="" placeholder="Click here...">
        </div>
      </div>
    </div>
    <!-- Textarea -->
    <div class="center Card">
      <div class="CardInner">
        <div class="Icon">
          <label for="body">Post</label>
        </div>
        <div class="InputContainer">
          <textarea type="body" name="body" class="form-control" id="" rows="6" placeholder="Click here..."></textarea>
        </div>
      </div>
    </div>
    <!-- Author -->
    <div class="center Card">
      <div class="CardInner">
        <div class="Icon">
          <label for="">Author</label>
        </div>
        <div class="InputContainer">
          <input name="username" type="text" class="" id="" value="<%- `   ${username}` %>"
            placeholder="<%- username %>">
        </div>
      </div>
    </div>
    <!-- Image -->

    <div class="container">
      <button type="submit" class="btn center">SUBMIT</button>
    </div>

  </form>

</div>
<%- include ("../partials/footer") %>