<link rel="stylesheet" href="/css/code-exercises_styles.css">


<%- include ('../partials/header') %>
<form action="" method="POST">
  <div class="container center">
    <label for="category">Category (arrays, objects, functions, etc)</label>
    <div class="m-0">
      <input class="" type="text" id="category" name="category">
    </div>
  </div>
  <div class="container center">
    <label for="title">Title</label>
    <div class="m-0">
      <input class="" type="text" id="title" name="title">
    </div>
  </div>
  <div class="container center">
    <label for="textarea">Textarea</label>
    <div class="">
      <textarea name="body" id="textarea" cols="30" rows="10"></textarea>
    </div>
  </div>
  <div class="container">
    <button type="submit" name="button" value="" class="btn btn-primary">SUBMIT</button>
  </div>

</form>

<div class="container">

  <div class="container">
    <a href="/users/code-exercises/is-valid-password">
      <div class="mobile-row">
        <i class="fab fa-blogger main-icon"></i>

        <div class="card-title">
          <p class="icon-title">
            Write 'isValidPassword' Function
          </p>
        </div>

      </div>
    </a>
  </div>


</div>


<script src="/js/code-exercises.js"></script>

<%- include ('../partials/footer') %>