<div class="sticky-top">
  <%- include ('../partials/header') %>
  <div class="container">
    <div class="row justify-content-center mt-3 mb-3">
      <div class="btn btn-sm w-75" role="group" aria-label="...">
        <a href="/users/portfolio"> <button type="button" class="btn dashboard-nav_button">Web Dev
            Portfolio</button></a>
      </div>
    </div>
  </div>
</div>


<% const date = new Date() %>
<% const month = new Array(); %>
<% month[0] = "January"; %>
<% month[1] = "February"; %>
<% month[2] = "March"; %>
<% month[3] = "April"; %>
<% month[4] = "May"; %>
<% month[5] = "June"; %>
<% month[6] = "July"; %>
<% month[7] = "August"; %>
<% month[8] = "September"; %>
<% month[9] = "October"; %>
<% month[10] = "November"; %>
<% month[11] = "December"; %>
<% const currentYear = date.getFullYear(); %>
<% const currentMonth = month[date.getMonth()]; %>
<% const currentDay = date.getDay(); %>



<div class="container">
  <div class="container">
    <div class="row justify-content-around">
      <div class="">
        <a href="/users/blog">
          <div class="mobile-row">
            <i class="fab fa-blogger main-icon"></i>
          </div>
        </a>
        <p class="icon-title">Blog</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-user-friends main-icon"></i>
        </div>
        <p class="icon-title">Friends</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-envelope-open-text main-icon"></i>
        </div>
        <p class="icon-title">Mail</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around">
      <div class="">
        <div class="mobile-row">
          <a href="/users/todo">
            <i class="fas fa-list-alt main-icon"></i>
          </a>
        </div>
        <p class="icon-title">To-Do</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-images main-icon"></i>
        </div>
        <p class="icon-title">Photos/Video</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <a href="/users/My-Account">
            <i class="fas fa-gamepad main-icon"></i>
          </a>
        </div>
        <p class="icon-title">My Account</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-around">
      <div class="">

        <!-- E WALLET -->
        <div class="mobile-row">
          <i class="fas fa-wallet main-icon"></i>
        </div>
        <p class="icon-title">E-Wallet</p>
      </div>
      <div class="">

        <!-- HEALTH -->
        <div class="mobile-row">
          <i class="fas fa-heartbeat main-icon"></i>
        </div>
        <p class="icon-title">JS Exercises</p>
      </div>
      <div class="">

        <!-- MUSIC -->
        <div class="mobile-row">
          <i class="fab fa-itunes main-icon"></i>
        </div>
        <p class="icon-title">Music</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around">
      <div class="">

        <!-- FILES -->
        <div class="mobile-row">
          <i class="far fa-folder-open main-icon"></i>
        </div>
        <p class="icon-title">Files</p>
      </div>
      <div class="">

        <!-- NEWS -->
        <div class="mobile-row">
          <i class="fas fa-rss-square main-icon"></i>
        </div>
        <p class="icon-title">News</p>
      </div>
      <div class="">

        <!-- YOUTUBE -->
        <a href="/users/youtube">
          <div class="mobile-row">
            <i class="fab fa-youtube main-icon"></i>
          </div>
        </a>
        <p class="icon-title">YouTube</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-around">
      <div class="">
        <div class="mobile-row">
          <i class="fab fa-blogger main-icon"></i>
        </div>
        <p class="icon-title">Blog</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-user-friends main-icon"></i>
        </div>
        <p class="icon-title">Friends</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-envelope-open-text main-icon"></i>
        </div>
        <p class="icon-title">Mail</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row justify-content-around">
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-wallet main-icon"></i>
        </div>
        <p class="icon-title">E-Wallet</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-heartbeat main-icon"></i>
        </div>
        <p class="icon-title">Health</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fab fa-itunes main-icon"></i>
        </div>
        <p class="icon-title">Music</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-around">
      <div class="">
        <div class="mobile-row">
          <i class="far fa-folder-open main-icon"></i>
        </div>
        <p class="icon-title">Files</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fas fa-rss-square main-icon"></i>
        </div>
        <p class="icon-title">News</p>
      </div>
      <div class="">
        <div class="mobile-row">
          <i class="fab fa-youtube main-icon"></i>
        </div>
        <p class="icon-title">YouTube</p>
      </div>
    </div>
  </div>



  <footer class="footer">
    <div class="fixed-bottom">
      <span class="text-muted">
        <div class="container">
          <div class="row align-items-center">
            <div class="col m-0 p-0 text-right align-self-center text-center">
              <i class="d-inline fas fa-phone icon"></i>
            </div>
            <div class="col m-0 p-0 text-right align-self-center text-center">
              <i class="d-inline fas fa-ban icon"></i>
            </div>
            <div class="col m-0 p-0 text-right align-self-center text-center">
              <a href="/users/todo.ejs">
                <i class="fas fa-list-alt"></i></a>
            </div>

            <div class="col m-0 p-0 text-right align-self-center text-center">
              <i class="d-inline fas fa-camera icon"></i>
            </div>
            <div class="col m-0 p-0 text-right align-self-center text-center">
              <i class="d-inline far fa-paper-plane icon"></i>
            </div>
          </div>
        </div>
      </span>
    </div>

    <div class="container">
      <h5 class=""><%- currentMonth %> <%- currentDay %>, <%- currentYear %></h5>
    </div>
</div>
</div>


</div>
</footer>