<link rel="stylesheet" href="/css/is-valid-password_styles.css">
<%- include ('../partials/header') %>
<div class="container">
  <ul>
    <h5>Write an <em>isValidPassword</em> function</h5>
    <p>It accepts 2 arguments: <em>password and username</em></p>
    <p>Password must:</p>
    <li>be at least 8 characters</li>
    <li>cannot contain spaces</li>
    <li>cannot contain the username</li>
    <p>If all requirements are met, return true. Otherwise return false.
    </p>
  </ul>
</div>

<div id="inputDiv" class="container">
  <form id="form" method="">
    <div>
      <label for="">name</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="">pass</label>
      <input type="text" name="pass" id="pass">
    </div>
    <button id="button" type="sumbit" class="btn btn-primary">submit</button>
  </form>
</div>



<script src="/js/is-valid-password.js"></script>
<%- include ('../partials/footer') %>