<link rel="stylesheet" href="/css/memory-game-2.css">


<%- include ('../partials/header') %>

<h3>Score: <span id="result"></span></h3>

<div class="grid">

</div>



<script src="/js/memory-game-2.js"></script>

<%- include ('../partials/footer') %>