<%- include ('../partials/header') %>

<div class="media row">
  <div class="container-fluid">
    <div class="col-xs-3 col-md-3">
      <img class="img-fluid img-thumbnail mr-3" src="/media/udemy.jpg" alt="">
    </div>
  </div>
  <div class="media-body">
    <div class="col-xs-9 col-md-9">
      <h5 class="mt-0">Password Verification Exercise</h5>
      Test tet. Body text
    </div>
  </div>
</div>

<%- include ('../partials/footer') %>