<%- include ('../partials/header') %>

<div class="container">

  <span class="ustify-content-center">
    <img src="/media/male_avatar_placeholder.png" alt="" width="" class="img-thumbnail img-fluid rounded-circle">
  </span>
  <div class="d-flex justify-content-center img-fluid w-10">
    <h5 class=""><%- name.toUpperCase() %>
    </h5>
  </div>
</div>


<%- include ('../partials/footer') %>